*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

.main1{
	width:960px;
	margin:50px auto;
}

.list{
	padding:20px;
	list-style:none;
}

.list:nth-child(odd){
	background-color:gray;
}

.main2{
	width:960px;
	margin:50px auto;
}

.main2 p{
	width:30%;
	height:200px;
	float:left;
}

.main2 p:nth-child(1){
	background-color:orange;
	margin:0 5% 40px 0;
}
.main2 p:nth-child(5){
	background-color:orange;
	margin:0 5% 40px 0;
}
.main2 p:nth-child(9){
	background-color:orange;
}

.main2 p:nth-child(2){
	background-color:yellow;
	margin:0 5% 40px 0;
}
.main2 p:nth-child(3){
	background-color:yellow;
	margin:0 0 40px 0;
}
.main2 p:nth-child(4){
	background-color:yellow;
	margin:0 5% 40px 0;
}
.main2 p:nth-child(6){
	background-color:yellow;
	margin:0 0 40px 0;
}
.main2 p:nth-child(7){
	background-color:yellow;
	margin:0 5% 0 0;
}
.main2 p:nth-child(8){
	background-color:yellow;
	margin:0 5% 0 0;
}